<template>
  <main>
    <div class="items">
      <sale-item v-for="(item, index) in items"
                 :key="index"
                 :item="item"
                 @addToCart="addToCart"
                 class="item" />
    </div>
  </main>
</template>

<script>
import SaleItem from "./SaleItem.vue";

export default {
  components: {
    SaleItem
  },
  data() {
    return {
      items: []
    };
  },
  async created() {
    const {data} = await this.$server.get("/items");
    this.items = data;
  },
  methods: {
    addToCart(item) {
      console.log("addItem", item);
      this.$server.post("/cart", {item_id: item.item_id})
    }
  }
};
</script>

<style scoped lang="scss">
.spacer {
  height: 5000px;
}

.items {
  display: flex;
  flex-wrap: wrap;
}

.item {
  width: 250px;
  margin: 1rem;
}
</style>
