<template>
  <div class="box">
    <article class="media">
      <div class="media-left">
        <figure class="image is-64x64">
          <img src="/placeholder-128x128.png">
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <p><strong>{{ item.name }}</strong></p>
          <p>$ {{ item.price }}</p>
          <button class="button is-small" @click="$emit('addToCart', item)">
            <span class="icon is-small">
              <i class="fas fa-cart-plus" />
            </span>
            <span>Add to Cart</span>
          </button>
        </div>
      </div>
    </article>
  </div>
</template>

<script>
export default {
  props: {
    item: {
      type: Object,
      required: true
    }
  }
};
</script>
