<template>
  <main>
    <table class="table is-striped is-fullwidth is-hoverable">
      <thead>
        <tr>
          <th>Name</th>
          <th>Quantity</th>
          <th>Price / Unit</th>
          <th>Total</th>
          <th />
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item, index) in items"
                   :key="index"
                   :item="item">
          <td>{{ item.name }}</td>
          <td>
            <input type="number"
                   class="input"
                   min="1"
                   :value="item.qty"
                   @change="quantityChanged(item.item_id, $event.target.value)">
          </td>
          <td>$ {{ item.price }}</td>
          <td>$ {{ item | lineTotal() }}</td>
          <td>
            <button class="button is-small is-danger"
                    @click="quantityChanged(item.item_id, 0)">
              <span class="icon is-small">
                <i class="fas fa-trash-alt" />
              </span>
            </button>
          </td>
        </tr>
        <tr v-if="!items.length">
          <td colspan="5" class="has-text-centered">
            No Items in cart yet.
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td />
          <td>{{ itemCount }}</td>
          <td />
          <td>$ {{ total }}</td>
          <td />
        </tr>
      </tfoot>
    </table>
  </main>
</template>

<script>
export default {
  data() {
    return {
      items: [],
      total: 0
    };
  },
  created() {
    this.reloadCart();
  },
  computed: {
    itemCount() {
      return this.items.map((i) => i.qty).reduce((acc, i) => acc + i, 0);
    }
  },
  filters: {
    lineTotal(item) {
      return (item.price * item.qty).toFixed(2);
    }
  },
  methods: {
    async reloadCart() {
      const {data: {total, cart}} = await this.$server.get("/cart");
      this.items = cart;
      this.total = total.toFixed(2);
    },
    async quantityChanged(item_id, value) {
      console.log("qtyChanged", item_id, value);
      const qty = parseInt(value);
      const cart = [{item_id, qty}];
      await this.$server.put("/cart", {cart})
      this.reloadCart();
    }
  }
}
</script>
