<template>
  <body class="has-navbar-fixed-top">
    <nav-bar />
    <router-view />
  </body>
</template>

<script>
import NavBar from "@/NavBar.vue";

export default {
  components: {
    NavBar
  }
};
</script>

<style scoped lang="scss">
@import "bulma/sass/utilities/_all.sass";
</style>
