<template>
  <nav class="navbar is-fixed-top">
    <div class="navbar-brand">
      <router-link class="navbar-item" :to="{name: 'home'}">
        <img src="/logo.png">
      </router-link>

      <a class="navbar-burger burger" @click="isActive = !isActive">
        <span />
        <span />
        <span />
      </a>
    </div>
    <div class="navbar-menu" :class="{'is-active': isActive}">
      <div class="navbar-start">
        <router-link class="navbar-item" :to="{name: 'home'}">
          Home
        </router-link>
        <router-link class="navbar-item" :to="{name: 'cart'}">
          Cart
        </router-link>
      </div>
    </div>
  </nav>
</template>

<script>
export default {
  data() {
    return {
      isActive: false
    };
  }
};
</script>
